@{
    Layout = "~/Views/Account/_LayoutReg.cshtml";
}
@model TestAccountProject.ViewModels.LoginModel


<h2 class="text-center mb-4">Вход на сайт</h2>

<div class="text-center mb-4">
    <a class="btn btn-primary" asp-action="Register" asp-controller="Account">Регистрация</a>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="shadow p-4 rounded bg-light">
            <div class="validation" asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label">Введите Email</label>
                    <input type="text" asp-for="Email" class="form-control" placeholder="Введите ваш Email" />
                    <span asp-validation-for="Email" class="text-danger" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label">Введите пароль</label>
                    <input asp-for="Password" class="form-control" placeholder="Введите ваш пароль" />
                    <span asp-validation-for="Password" class="text-danger" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Войти" class="btn btn-success btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
